@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400..900;1,300..900;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
.nav{
    display: flex;
}
.navbar{
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    background: #fff;
    backdrop-filter: blur(3px);
    border-bottom: 1px solid #f6f6f6;
    z-index: 1;
}
.navbar *{
position: relative;
padding: 0;
margin: 0;
font-family: 'Rubik', sans-serif;
}
.navbar .logo{
    width: auto;
    height: 36px;
    margin-left: 20px;
}
.navbar ul{
    display: flex;
    margin-left: 30px;
}
.navbar ul li{
    margin: 0 13px 0 0;
    padding: 5px;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: #444;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
.navbar .search{
    display: flex;
    background: #fafafa;
    width: auto;
    height: 39px;
    align-items: center;
    margin:15px 0 10px 482px;
    padding: 0 8px 0 0;
    border: 1px solid #f4f4f4;
    border-radius: 40px;
    z-index: 1;
}
.navbar .search .imgSearch{
    display: flex;
    width: 35px;
    height: 40px;
    background: none;
    border: none;
    outline: none;
    margin:4px 0 0 6px;
    border-radius: 50px;
}
.navbar .search .inputSearch{
    padding: 0 5px 0 0;
    width: 180px;
    background: none;
}
.navbar .search .inputSearch::placeholder{
    color: #aaa;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    font-size: 14px;
    font-weight: 400;
}
.navbar .search p{
    color: #222;
    background: #f1f1f1;
    font-size: 11px;
    font-family: 'Inter', sans-serif;
    margin: 6px 0 0 0;
    border-radius: 50px;
    height: 28px;
    line-height: 28px;
    padding:0 8px;
}
/*-----------------------------------------iconsbar------------------------------------------*/
.iconsbar{
    display: flex;
    height: 40px;
    width: 80px;
}
.iconsbar .icosign{
    display: flex;
    background: #55337c;
    border-radius: 50px;
    width: 80px;
    height: 40px;
    align-items: center;
    text-align: center;
    border: 1px solid #55337c;
}
.icosign p{
    text-align: center;
    font-size: 13px;
    color: #fff;
    font-family: 'Inter', sans-serif;
}
.iconsbar .navclerk{
    height: 40px;
    position: absolute;
    background: #000;
    width: 80px;
    border-radius: 50px;
    z-index: 2;
    opacity: 1;
}