@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,500;1,200&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,700..800&display=swap');
.hljs {
    display: block;
    overflow-x: hidden;
    color: #4d4d4c;
    padding: 20px 20px;
    margin: 40px 0;
    font-size: 16px;
    border: 1px solid #f5f5f5;
    border-radius: 6px;
}

.listoficonsreact{
    display: block;
    width: 55%;
    margin: 120px auto 0 auto;
    height: 100px;
    background: #fff;
}
.artinfo-user-art{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 0;
}
.artinfo-user-art img{
    width: 43px;
    height: 43px;
    border: 1px dashed rgb(55, 44, 34);
    border-radius: 50px;
}
.aua-date-time{
    display: block;
    margin-left: 11px;
    line-height: 20px;
    font-family: 'Inter', sans-serif;
}
.aua-date-time p{
    display: block;
    color: #222;
    font-size: 14px;
}
.aua-date-time h3{
    font-size: 11px;
    color: #666;
    font-weight: 400;
}
.like-com-au-sv{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    border-top: 1px solid #eee;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}

.react-comment{
    display: flex;
}
.imgnum{
    display: flex;
    align-items: center;
}
.react-comment p{
    font-size: 13px;
    margin-left: 3px;
    align-items: center;
    color: #222;
}
.react-comment img{
    width: 22px;
}
.react-comment #comments{
    margin-left: 20px;
}
.copy-aud-save{
    display: flex;
    gap: 0 18px;
}
.copy-aud-save img{
    width: 25px;
}
.copy-aud-save img:nth-child(2){
    width: 21px;
}
.copy-aud-save img:nth-child(3){
    width: 20.5px;
}

.artic {
    width: 55%;
    margin: 0 auto;
}
.artic p{
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    line-height: 35px;
    color: #222;
    font-weight: 300;
}
.artic h1{
    font-size: 38px;
    font-weight: 700;
    line-height: 51px;
    color: #111;
    padding: 70px 0 25px 0;
}
.artic h2{
    font-size: 27px;
    font-weight: 700;
    line-height: 40px;
    color: #111111;
    padding: 35px 0 10px 0;
}
.artic h3{
    font-size: 22px;
    font-weight: 700;
    line-height: 40px;
    color: #111;
    padding: 25px 0 0 0;
}
li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    padding: 5px 0;
    color: #141d27;
}
strong{
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px dashed #999;
}
.disflexcollection{
    width: 955px;
    margin: 0 auto;
}
.disflexcollection .hp-collection{
    width: 100%;
}
.hp-collection .hp-listofcollection{
    width: 800px;
}
.disflexcollection .hp-collection .hp-listofcollection .hp-leftofarticle{
    display: block;
    width: 500px;
}